Django==3.1.4
django-extensions==3.1.0
ipython==7.19.0
django-debug-toolbar==3.2
django-taggit==1.2.0
markdown==3.2.1
psycopg2-binary==2.8.4
flake8==3.8.3
pycodestyle==2.6.0
pyflakes==2.2.0
flake8-builtins==1.5.3
flake8-import-order==0.18.1
pep8==1.7.1
flake8-print==4.0.0
six==1.15.0
